$nav-bg: #232b46;
$nav-text-color: white;
$active-bg: white;
$active-text: #232b46;

.nav {
  padding: 10px 0;

  .navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .navItem {
    background-color: $nav-bg;
    color: $nav-text-color;
    font-weight: bold;
    padding: 15px 30px;
    text-align: center;
    flex: 1;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      background-color: $active-bg;
      color: $active-text;
    }
  }
}
